<section class="container content">
  <h2><a class="profile-header" href="/users/<%= current_user.id %>/movies"><%= current_user.first_name %>'s Movies</a> (<%= current_user.movies.count %>)</h2>

  <div class="search-container">
    <i><p class="search-text text-muted">Use this search bar to filter your movies...</p></i>

    <form class="search-form form-horizontal" action="/users/<%= current_user.id %>/movies" method="get">
      <input type="radio" name="search_type" value="title" checked> Title
      <input type="radio" name="search_type" value="actor"> Actor
      <input class="search-field" type="text" name="search" placeholder="i.e 'Pulp Fiction', 'Brad Pitt', or 'batman', 'samuel l jackson">
      <input class="btn btn-primary search-button" type="submit" name="search-submit" value="Search">
    </form>
  </div>

  <% if !@movies.empty? %>
    <% @movies.each do |movie| %>
      <div class="movie-details row">
        <% movie_details = Tmdb::Movie.detail(movie.tmdb_id) %>
        <div class="poster col-md-2">
          <img src="http://image.tmdb.org/t/p/w185<%= movie_details["poster_path"] %>" alt="Poster">
        </div>

        <div class="details col-md-10">
          <h1 class="movie-title"><%= movie_details["title"] %></h1>
          <h3 class="movie-year">(<%= movie_details["release_date"][0...4] %>)</h3>
          <p class="movie-tagline"><i><%= movie_details["tagline"] %></i></p>
          <p><%= movie_details["overview"] %></p>
          <p class="text-muted"><%= movie_details["runtime"] %> minutes</p>

          <% unless Tmdb::Movie.casts(movie.tmdb_id) == nil %>
            <p>
              <% Tmdb::Movie.casts(movie.tmdb_id)[0...6].each do |actor| %>
                <span class="cast-actor"><%= actor["name"] %></span>
              <% end %>
            </p>
          <% end %>

          <% trailer = Tmdb::Movie.trailers(movie.tmdb_id) %>
      </div>
      <% end %>
    <% else %>

      <h2 class="no-movies">No Movies to Display</h2>
      <div class="row crate-options">

      <a href="/users/<%= current_user.id %>/movies/new">
        <div class="add col-md-12">
          <h3>Add To Your Crate</h3>
        </div>
      </a>

    </div>
  <% end %>
</section>
