<div class="container-fluid content">
  <% Tmdb::Api.key("f58dcae0aa7f4c46378947fd40988e0f") %>
  <% results = Tmdb::Movie.find("8 mile") %>

  <% results.each do |movie| %>

    <% movie_details = Tmdb::Movie.detail(movie.id) %>
    <h1><%= movie_details["title"] %></h1>
    <img src="http://image.tmdb.org/t/p/w185<%= movie_details["poster_path"] %>" alt="">
    <p><%= movie_details["tagline"] %></p>
    <h3><%= movie_details["release_date"][0...4] %></h3>
    <p><%= movie_details["overview"] %></p>
    <p><%= movie_details["runtime"] %> minutes</p>

    <% unless Tmdb::Movie.casts(movie.id) == nil %>
      <ul>
        <% Tmdb::Movie.casts(movie.id)[0...6].each do |actor| %>
          <li><%= actor["name"] %></li>
        <% end %>
      </ul>
    <% end %>

    <% trailer = Tmdb::Movie.trailers(movie.id) %>

  <% end %>
</div>
